.wrapper {
  max-width: 46rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

  
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}







@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
    background-color: aqua;
  }

  .main {
    background-color: red;
    
  }
}
